body{
  margin: 200px;
  padding: 0px;
}

.banner {
  position:absolute;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(180deg, #030008 100%, rgba(2, 0, 8, 0) 100%);
}

.banner img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.first-text,
.second-text {
  color: #fff;
  font-family: Merriweather;
}

.first-text {
  font-size: 32px;
  font-weight: 400;
}

.second-text {
  font-size: 70px;
  font-weight: 900;
  line-height: 95px;
  margin-top: 10px;
}

.second-text span {
  display: block;
}

.deals {
  text-align: center;
  margin-top: 20px;
  padding: 50px;
}

.discount {align-content: center;
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.deal-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 100px;
}

.categories {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 410px;
  height: 58px;
  margin-top: 50px;
  margin: 100px;
}

.new-year-photo {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  object-fit: cover;
  background: rgb(250, 247, 247) 50% / cover no-repeat;
  margin-top: 20px;
}

.vector {
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  position: relative;
}

.vector_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.text2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  display: flex;
  flex-direction: column;
}

.welcome-heading { color: #fff;
  width: 642px;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.welcome-text {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.join-now {
  color: #040404;
  padding: 15px 30px;
  border:none ;

  font-size: 18px;
  font-weight: 70;
  margin-top: 20px;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.informations{
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

.informations p {
  margin: 10px 0;
}


.informations .info {
  font-weight: 700;
  color: #000; 
}

.informations .info .highlight {
  color: #f00; 
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

}

.red-button {
  background-color: #ff0000; 
  color: #ffffff; 
  padding:0px 
  font-size: 18px; 
  border: none;
  border-radius: 5px;
  border-radius: 5px; 
    cursor: pointer;
  
}
.Ellipse{
  align-items: center;
  width: 364.844px;
height: 364.844px;
flex-shrink: 0;
border-radius: 364.844px;
background: url(img/Ellipse\ 1.png), lightgray -91.279px 0px / 150.038% 100% no-repeat;
padding: 436*436;
flex-shrink: 0;
margin: 200px;
padding: 100px no-repeat;
}
.Ellipse2{
  width: 61.443px;
height: 169.106px;
flex-shrink: 0

}
.newoffer{
  color: #F00;
text-align:left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}